OIDC_CLIENT_ID= <your applciation's auto generated UserID>
OIDC_CLIENT_SECRET= <your application's auto generated Password>
OIDC_ISSUER_URL= <Your OIDC configured tenant's issuer url>
REDIRECT_URI= < your applicattion's configured callback url>